body{
background-color: #f6f6f6;
}
.content{
  padding: 40px;
}
.main{
  text-align: center;
  font-size: 3rem;
}
p{
  color:#393b44;
}
h4{
  font-size: 1.2rem;
  font-weight: bolder;

}
h3{
  font-size: 1.6rem;
}
